<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
</head>
<body>
    <h1>Découverte de twig</h1>
    <p>Mon nom est : {{ nom }} et mon prénom est : {{ surname }}</p>
</body>
</html>